<div class="col-md-12 col-sm-12">
  <div class="card-container">
    <div class="card">
      <div class="front">
        <div class="user">
          <img class="img-circle" alt="img" src="assets/images/{{personne?.path|defaultImage}}">
        </div>
        <div class="content">
          <div class="main">
            <h3 class="name">{{personne?.firstname|titlecase}} {{personne?.name|titlecase}}</h3>
            <p class="profession">{{personne?.job}}</p>
            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
