<div class="col-md-12 col-sm-12">
  <div class="card-container">
    <div class="card">
      <div class="header">
        <h5 class="motto header-text">To be or not to be, this is my awesome motto!</h5>
        <hr class="header-seperator" />
      </div>
      <div class="content">
        <div class="main">
          <p class="text-center">html , css , bootstrap , angular and others ...</p>
          <div class="status-group">
            <div class="status-data">
              <p class="status-data-number">250</p>
              <p class="status-data-title">Followers</p>
            </div>
            <div class="vr"></div>
            <div class="status-data">
              <p class="status-data-number">175</p>
              <p class="status-data-title">Following</p>
            </div>
            <div class="vr"></div>
            <div class="status-data">
              <p class="status-data-number">35</p>
              <p class="status-data-title">Projects</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr />
        <div class="social-links actions gap-5">
          <button class="btn btn-primary" (click)="hire($event)" >
            Embaucher
          </button>
          <button class="btn btn-secondary" (click)="getMoreInfos($event)">
            More Infos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
